.user-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-profile .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.user-profile .overlap {
  position: absolute;
  width: 604px;
  height: 1024px;
  top: -3px;
  left: 836px;
  background-color: #b7251d;
}

.user-profile .supporting-text {
  top: 700px;
  left: 93px;
  color: #ffffff;
  font-size: 54px;
  white-space: nowrap;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .vector {
  position: absolute;
  width: 246px;
  height: 377px;
  top: 255px;
  left: 179px;
}

.user-profile .overlap-group {
  position: absolute;
  width: 281px;
  height: 74px;
  top: 817px;
  left: 151px;
  background-color: #b3261e;
  border-radius: 50px;
}

.user-profile .text-wrapper {
  width: 94px;
  top: 23px;
  left: 94px;
  color: #fef7ff;
  font-size: 25px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .supporting-text-wrapper {
  position: absolute;
  width: 281px;
  height: 74px;
  top: 817px;
  left: 443px;
  background-color: #b3261e;
  border-radius: 50px;
}

.user-profile .supporting-text-2 {
  width: 109px;
  top: 23px;
  left: 94px;
  color: #fef7ff;
  font-size: 25px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .supporting-text-3 {
  top: 246px;
  left: 279px;
  color: #1d1b20;
  font-size: 54px;
  white-space: nowrap;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .group {
  position: absolute;
  width: 198px;
  height: 111px;
  top: 77px;
  left: 341px;
}

.user-profile .overlap-group-2 {
  position: relative;
  width: 196px;
  height: 111px;
}

.user-profile .ellipse {
  top: 1px;
  left: 5px;
  background-color: #c8f909;
  position: absolute;
  width: 191px;
  height: 110px;
  border-radius: 95.5px / 55px;
}

.user-profile .ellipse-2 {
  top: 0;
  left: 0;
  background-color: #b7251d;
  position: absolute;
  width: 191px;
  height: 110px;
  border-radius: 95.5px / 55px;
}

.user-profile .headline {
  position: absolute;
  width: 152px;
  height: 78px;
  top: 17px;
  left: 23px;
  -webkit-text-stroke: 2px #ffffff;
  font-family: "Allura-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 6.00px;
  line-height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .overlap-2 {
  position: absolute;
  width: 541px;
  height: 70px;
  top: 520px;
  left: 164px;
  background-color: #eaeaea;
  border-radius: 50px;
}

.user-profile .supporting-text-4 {
  position: absolute;
  width: 73px;
  top: 25px;
  left: 35px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #686869;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .img-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 471px;
  background-color: #b7251d;
  border-radius: 50px;
}

.user-profile .img {
  position: absolute;
  width: 30px;
  height: 39px;
  top: 15px;
  left: 20px;
}

.user-profile .overlap-3 {
  position: absolute;
  width: 541px;
  height: 70px;
  top: 618px;
  left: 164px;
  background-color: #eaeaea;
  border-radius: 50px;
}

.user-profile .supporting-text-5 {
  width: 140px;
  top: 27px;
  left: 35px;
  color: #686869;
  font-size: 25px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .vector-2 {
  position: absolute;
  width: 27px;
  height: 47px;
  top: 12px;
  left: 22px;
}

.user-profile .overlap-4 {
  position: absolute;
  width: 541px;
  height: 70px;
  top: 716px;
  left: 164px;
  background-color: #eaeaea;
  border-radius: 50px;
}

.user-profile .vector-3 {
  position: absolute;
  width: 40px;
  height: 45px;
  top: 10px;
  left: 15px;
}

.user-profile .overlap-5 {
  position: absolute;
  width: 541px;
  height: 70px;
  top: 426px;
  left: 164px;
  background-color: #eaeaea;
  border-radius: 50px;
}

.user-profile .vector-4 {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 16px;
  left: 15px;
}

.user-profile .overlap-6 {
  position: absolute;
  width: 541px;
  height: 70px;
  top: 325px;
  left: 167px;
  background-color: #eaeaea;
  border-radius: 50px;
}

.user-profile .supporting-text-6 {
  width: 266px;
  top: 25px;
  left: 35px;
  color: #686869;
  font-size: 25px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-profile .name-card {
  position: absolute;
  width: 58px;
  height: 68px;
  top: 0;
  left: 7px;
}

.user-profile .rectangle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 651px;
  left: -4747px;
}
